@tailwind base;
@tailwind components;
@tailwind utilities;

/* スクロールバーを非表示 */
body::-webkit-scrollbar{
  display: none;  /* Chrome, Safari 対応 */
}
body {
  -ms-overflow-style: none; /* IE, Edge 対応 */
  scrollbar-width: none; /* Firefox 対応 */
}
/* QuestionFormでlistを表示する際にtailwindのデフォルトだと何も表示されないので以下のように上書きする */
@layer base {
ul, ol {
  list-style: revert;
}
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  border-bottom: 1px solid #5c93bb2b;
  padding-bottom: 0.75rem;
  margin-bottom:0.75rem;
}

h2 {
  font-size: 2.8rem;
  line-height: 1.1;
}

h3 {
  font-size: 2.6rem;
  line-height: 1.1;
}

h4 {
  font-size: 2.4rem;
  line-height: 1.1;
}

h5 {
  font-size: 2.2rem;
  line-height: 1.1;
}

h6 {
  font-size: 2.0rem;
  line-height: 1.1;
}

li {
  list-style-position: inside;
}
