@tailwind base;
@tailwind components;
@tailwind utilities;

/* スクロールバーを非表示 */
body::-webkit-scrollbar{
  display: none;  /* Chrome, Safari 対応 */
}
body {
  -ms-overflow-style: none; /* IE, Edge 対応 */
  scrollbar-width: none; /* Firefox 対応 */
}
/* QuestionFormでlistを表示する際にtailwindのデフォルトだと何も表示されないので以下のように上書きする */
@layer base {
ul, ol {
  list-style: revert;
}
}

li {
  list-style-position: inside;
  white-space: pre-wrap;
}

pre {
  letter-spacing: 0.05em;
}

p {
  white-space: pre-wrap;
}

h1 {
  font-size: 48px;
  line-height: 1;

}

h2 {
  font-size: 36px;
  line-height: 1.333;
}

h3 {
  font-size: 24px;
  line-height: 1;
}

h4, h5, h6 {
  font-size: 16px;
  line-height: 1.5;
}

